<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="DomoweWypiekiConn" connectionString="Server=localhost;Database=DomoweWypieki;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="DomoweWypieki.Properties.Settings.DomoweWypiekiConnectionString"
   connectionString="Data Source=localhost;Initial Catalog=DomoweWypieki;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>